<% include partials/_head %>

<main class="checkout">
   <% include partials/_header %>
   <div class="row checkout_header_image">
        <h2>Checkout</h2>
   </div>


    <div class="container checkout_page">
      <div class="row">
         <div class="col-md-6 checkout_form">
            <h3 class="text-center">Please enter your details</h3>

            <form method="POST" action="/sendsms" id='checkoutForm'>
              <div class="form-group" id="checkoutName">
                <label for="name">Name</label>
                <input type="text" class="form-control" name="name" placeholder=" Enter Name">
              </div>

              <div class="form-group" id="checkoutPhoneNumber">
                <label for="telephone">Mobile No.</label>
                <input type="tel" class="form-control" name="telephone" placeholder=" Enter 10-digit mobile no.">
              </div>


              <div class="form-group" id="checkoutInstructions">
                <label for ="description">Special Instructions</label>
                <textarea  class="form-control" name="description" placeholder="Enter Your Message"></textarea>
              </div>
                <div id="shop">
                <button type="button" id="stripeButtonCheckout" class="btn btn-default submit"><i class="fa fa-paper-plane" aria-hidden="true"></i>  Pay Now</button>
              </div>
                </form>
       </div>


      <div class="col-md-5 sidebar checkout_bar">
          <h3>Order Details</h3>
          <div class="row checkout_order">
          </div>
          <!-- order details filled out by checkout.js-->
      <div class="total_checkout"></div>

     <div class="checkout_option">
       <p class="button text-center"><a href="/menu_items">Cancel</a></p>
   </div>

    </div>
  </div>






</main>
<script type='text/javascript' src='../../scripts/checkout.js'></script>
<% include partials/_footer %>
