<!DOCTYPE html>
<html>
<head>
  <title></title>
<nav class="navbar navbar-default" role="navigation">
<div class="container-fluid">

<div class="navbar-header">
  <a class="navbar-brand" href="#">
      <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
      FOOD ORDERING App
  </a>
<ul class="nav navbar-nav">
  <li><a href="/urls">Home</a></li>
  <li><a href="/orders/new">New Order</a></li>
  <li><a href="/signup">Signup</a></li>
  <li><a href="/signin">Signin</a></li>
</ul>
</div>
</div>
</nav>
</head>
<body>
<form method="POST" action="/signup" style="margin:150px;">
  <label>Email</label>
  <input type="email" name="email" style="width:300px"></input>
  <label>Password</label>
  <input type="password" name="password" style="width:300px"></input>
  <button> Signin </button>
</form>
</body>
</html>
