.second_section{
    background: #e7ede9 url(../images/pattern.png) !important;
    background-position: 0 0 !important;
    background-repeat: repeat !important;
    position:relative;
    padding:80px 0;
}


.second_section:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 50%;
    display: block;
    content: '';
    background-image: url(../images/celebration-cakes.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
  }


.how_to_use{
  padding:60px 0 100px 0;
  overflow:hidden;

  i{
    font-size:3.5em;
  }

  p.counter_seq{
    font-size:3em;
  }

  p.step_content{
    font-size:1.7em;
  }

  .how_to_order{
    margin-bottom:1.2em;
  }
}



