main.menu{
  margin-bottom:20px;
}

.top_header_image{
  background:url(../images/menu_head.jpg);
  height:300px;
  position:relative;
  margin-bottom:25px;

  h2{
    position:absolute;
    bottom:30px;
    left:50%;
    transform: translate(-50%, -50%);
    font-size:4em;
    color:#fff;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: $body_font;
    font-weight:700;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
  }
}

.sidebar{
    padding:10px 15px;
    background: #3C3D41;

    h3{
      color:$primary-color;
      text-align:center;
      border-bottom:1px solid rgba(255,255,255,.5);
      padding-bottom:15px;
      margin-top:10px!important;
    }

    ul{
      padding: 0 !important;

      li{
        list-style:none;
        color:#fff;
        font-weight:500;
        margin-bottom:10px;
        letter-spacing: 2px;
      }
    }
}

.main_content{
     overflow:hidden;
}

.menu_item{
    border:1px solid #ccc;
    padding:10px;
    margin-right:2%;
    margin-bottom:2%;
    width:47%;
    overflow:hidden;

    img{
      float:left;
      width:38%;
      position:relative;
  }
    span.item_type{
      bottom:0;
      left:0;

      padding:5px 10px;
      color:#fff;
      font-size:1em;
      position:absolute;
      background: rgba(0,0,0,0.7);
      text-transform:uppercase;
    }
    h3{
      margin-left:10px;
      font-family:$body_font;
      margin-top:0!important;
      text-transform:uppercase;
      font-size:1.1em;
      font-weight:700;
    }

    p{
      font-size: .9em;
      margin-left:10px!important;
    }

    h4{
      font-weight:bold;
      margin-left: 10px;
    }

    .quantity_counter{
      margin-left:10px;

      input{
        width:40px!important;
        float:left;
      }

      .plus_button, .minus_button{
        border:none!important;
        border-radius:0!important;
      }

      .plus_button{
        float:left;
      }
    }
}

.content{
  float:left;
  width: 60%;
}
.foodCategories li{
  margin-left: 10px !important;
  list-style: circle !important;
}
.menu_item:hover{
  border:1px solid #333;
  background:#f8f8f8;
  cursor:pointer;
}

.menu_item:hover span.item_type{
  background:$primary-color;
}

.checkout_row{
    overflow:hidden;
    clear:both;
    margin-bottom:20px;

    p.button{
     margin-bottom:20px;
     clear:both;
    }

    a{
      background: #666;
      padding:10px 15px;
      font-size:1em;
      color:#fff;
    }

    h4{
      font-size:15px!important;
      text-transform: capitalize;
      font-weight:700;
      margin-top:2px!important;
    }

    .inner_div{
      background:#f8f8f8;
      overflow:hidden;
      clear:both;
    }

    p{
      clear:both;
    }

    h5{
      float:left;
      font-weight:700;
      margin-top:4px!important;
    }

    .checkout_option{
      clear:both;
    }
}

.checkout_row .edit_buttons a {
   font-size:12px!important;
   margin-right:5px;
}

span.quantity{
    float:right;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.checkout_option a{
  padding:10px 15px!important;
  text-align:center;
  color: #fff;
  background:#333;
  display:block;
  margin-top:15px;
  text-decoration:none;
  transition:all .3s;
}

.checkout_option a:hover{
  background:$primary-color;
  transition:all .3s;
}


.checkout_area{
  background:none!important;
  border:1px solid #ccc;

  h3{
    color:#3C3D41!important;
    font-family: $body_font!important;
    font-size:1.4em;
  }

  .total_cart_items{
    font-size:1.4em!important;
    font-weight:700;
    border-top:3px solid #333;
    padding-top:10px;
    margin-bottom:30px;
    text-align:center;
  }
}
@media(max-width:991px){
  .sidebar{
    margin-bottom:20px;
  }

  .main_content{
    width:56%;
    float:left;
  }

  .menu_item{
    width:98%;

  }

  .checkout_area{
  float:right;
  width:42%;
  }
}


@media(max-width:670px){
  .main_content{
    width:100%;
  }

  .checkout_area{
    width:100%;
  }
}


