.navbar{
  width:90%;
  margin:0 auto;
  position:absolute;
  top:50px;
  z-index:999;
  left: 0;
  right: 0;
  transition: all .4s;
  background:none!important;
  border:none!important;
  color:#fff!important;
}

.sticky{
    position: fixed;
    top: 0;
    z-index:999;
    width:100%!important;
    margin-top:0!important;
    transition: all .4s;
    border-radius:0;
    background-color: #3C3D41!important;
    border-color: #3C3D41!important;
    padding:10px 0;
}

.sticky .logo{
  width:120px!important;
  margin-top: -1.2em;
}

.logo{
  width:150px;
  margin-top:-1.8em;
}

.home_navigation li{
  margin-right:20px;
}


.register_nav{
  margin-right:20px;
}

.navbar-toggle{
  border:1px solid #fff!important;
}

button:focus, a:focus {outline:0!important;}

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:$primary-color;

    .help-block{
        font-size:12px
    }

    .bottom{
        background-color:#3C3D41;
        border-top:1px solid #ddd;
        clear:both;
        padding:14px;
    }

    .social-buttons{
        margin:12px 0;

        a{
            width: 49%;
        }
    }

    .form-group {
        margin-bottom: 10px;
    }
}


.nav li a, .logout button{
  color:#fff!important;
  font-size:1.3em!important;
  border:3px solid #fff;
  font-weight: bold;
  background: none;
  transition:all .3s;

}

.logout button{
  padding:10px 15px!important;
  border-radius:0!important;
}

.nav li a:hover, .logout button:hover{
  background:$primary-color!important;
  border:3px solid $primary-color!important;
  transition:all .3s;
}

.form-group button{
  background: #fff!important;
  color:#080808!important;
  border:none!important;
  font-weight:bold;
  transition:all .3s;
}

.form-group button:hover{
  background:#080808!important;
  color:#FFF!important;
  transition:all .3s;
}

@media(max-width:768px){

    #login-dp{
        background-color: inherit;
        color: #fff;

        .bottom{
            background-color: inherit;
            border-top:0 none;
        }
    }

    .navbar{
      background: #333!important;
    }

    .register_nav{
      margin-right:0;
      margin-bottom:10px;
    }
}
