.navbar{
  width:90%;
  margin:0 auto;
  position:absolute;
  top:50px;
  z-index:999;
  left: 0;
  right: 0;
  transition: all .4s;
}

.sticky{
    position: fixed;
    top: 0;
    z-index:999;
    width:100%!important;
    margin-top:0!important;
    transition: all .4s;
    border-radius:0;
}

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);

    .help-block{
        font-size:12px
    }

    .bottom{
        background-color:rgba(255,255,255,.8);
        border-top:1px solid #ddd;
        clear:both;
        padding:14px;
    }

    .social-buttons{
        margin:12px 0;

        a{
            width: 49%;
        }
    }

    .form-group {
        margin-bottom: 10px;
    }
}

.btn-fb{
    color: #fff;
    background-color:#3b5998;
}

.btn-fb:hover{
    color: #fff;
    background-color:#496ebc
}

.btn-tw{
    color: #fff;
    background-color:#55acee;
}

.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}

@media(max-width:768px){

    #login-dp{
        background-color: inherit;
        color: #fff;

        .bottom{
            background-color: inherit;
            border-top:0 none;
        }
    }
}
