$heading_font: 'Sofia', cursive;
$body_font: 'Montserrat', sans-serif;
$primary-color: #AFCE00;

h1,h2,h3{
  font-family: $heading_font;
}

h2{
  font-size:3.5em;
}

body{
  font-family:$body_font;
}

@import 'nav';
@import 'slider';
@import 'footer';
@import 'counter';
@import 'body';


