$heading_font: 'Sofia', cursive;
$body_font: 'Montserrat', sans-serif;
$primary-color: #ffbd2f;

h1,h2,h3{
  font-family: $heading_font;
}

h2{
  font-size:3.5em;
}

body{
  font-family:$body_font;
}

input, textarea, select, a { outline: none!important; }

@import 'nav';
@import 'slider';
@import 'footer';
@import 'counter';
@import 'body';
@import 'menu';

